<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Simple Blog{% endblock %}</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'blog/css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'blog/css/semantic.min.css' %}">
	<script type="text/javascript" src="{% static 'blog/js/jquery.js' %}"></script>
	{% block morestaticfiles %}{% endblock %}
</head>
<body>
<div class="ui grid">
	<div class="three wide column">
		{% include 'blog/sidebar.html' %}
	</div>
	<div id="main-content" class="nine wide column">
	{% block content %}
	{% endblock %}
	</div>
</div>
</body>
</html>