{% extends 'blog/base.html' %}

{% block content %}

<h1>Links</h1>
<ul>
	<li>
		<a href="{% url 'blog:addPost' %}">Write New Post</a>
	</li>
	<li>
		<a href="{% url 'logout' %}">Logout</a>
	</li>
</ul>
<h1>Recent Posts</h1>
{% if latest_blog_posts %}
	<ul>
	{% for post in latest_blog_posts %}
		<li><a href="{% url 'blog:post' post.id%}">{{ post.title }}</a></li>
		<span>By {{ post.author.username }} on {{ post.pub_date }}</span>
	{% endfor %}
	</ul>
{% else %}
<p>No posts yet</p>
{% endif %}

{% endblock %}

