{% extends 'blog/base.html' %}

{% load staticfiles %}

{% block morestaticfiles %}
<script type="text/javascript" src="{% static 'blog/js/lorem.js' %}"></script>
<script type="text/javascript" src="{% static 'blog/js/index.js' %}"></script>
{% endblock %}

{% block content %}

<form action="{{ action }}" method="POST">
	<fieldset>
		{% csrf_token %}
		<div class="ui form">
			<div class="field">
				<label for="title">Title</label>
				<input id="title" type="text" name="title" value="{{ post.title }}" required>
			</div>
			<div class="field">
				<label for="post-body">Content</label>
				<textarea id="post-body" name="body" required>{{ post.body }}</textarea>
			</div>
			<div class="field">
				<button class="ui button addLorem">Lorem Ipsum</button>
				<input class="ui button" type="submit">
			</div>
		</div>
	</fieldset>
</form>
{% endblock %}
