
{% extends 'base_accounts.html' %}

{% block title %}Sign Up{% endblock %}

{% block header %}Create New Account{% endblock %}

{% block form_content %}
  <div class="field">
    <div class="ui input">
      <input type="text" name="username" placeholder="Username" required>
    </div>
  </div>
  <div class="field">
    <div class="ui input">
      <input type="password" name="password1" placeholder="Password" required>
      <input type="hidden" name="next" value="{{ next }}" />
    </div>
  </div>
  <div class="field">
    <div class="ui input">
      <input type="password" name="password2" placeholder="Password Confirmation" required>
      <input type="hidden" name="next" value="{{ next }}" />
    </div>
  </div>
  <input type="submit" value="Sign Up" class="ui fluid large teal submit button">
{% endblock %}

{% block form_errors %}
  {% if form.errors %}
  <div class="ui error message">
    {% for key,error in form.errors.iteritems %}
      {{ error }}
    {% endfor %}
  </div>
  {% endif %}
{% endblock %}